@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  background-image: url("../public/assets/images/figure.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 28%;
  min-height: 79vh;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    right: -495px;
    top: 0;
    width: 56.25rem;
    height: 40.625rem;
    background-image: url("../public/assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}



@media only screen and (max-width: 768px) {
  .wrapper {
    &::after {
      right: -15.625rem;
      width: 25rem;
      height: 28.125rem;
    }
  }
}
